<style>
    ul li {
        display: inline;
    }
</style>
<div>
    <ul>
        <li>
            <a class="text-dark" asp-area="" asp-controller="Administration" asp-action="UserList">Users</a>
        </li>
        <li>
            <a class="text-dark" asp-area="" asp-controller="Administration" asp-action="BookList">Books</a>
        </li>
        <li>
            <a class="text-dark" asp-area="" asp-controller="Administration" asp-action="OperationList">Operations</a>
        </li>
        <li>
            <a class="text-dark" asp-area="" asp-controller="Administration" asp-action="LibraryList">Libraries</a>
        </li>
    </ul>
</div>