<style>
    .control-menu {
        float: left;
        width: 220px;
        box-shadow: 10px 4px 10px 3px #888;
        padding: 10px;
        border: 1px solid dimgray;
    }
</style>
<div class="control-menu">
    <div class="btn-group-vertical">
        <a class="btn btn-outline-dark" style="border-radius: 0px;" asp-area="" asp-controller="Management" asp-action="ClientsByWorker">Клиенты</a>

        <a class="btn btn-outline-dark" style="border-radius: 0px;" asp-area="" asp-controller="Management" asp-action="WorkersByRoom">Работники</a>

        <a class="btn btn-outline-dark" style="border-radius: 0px;" asp-area="" asp-controller="Management" asp-action="Report">Данные о выработке библиотеки</a>
    </div>
</div>